# 1. Combining Pandas Dataframes

Let's start by learning how to combine pandas dataframes using **merge**.
   * 1) Import the libraries pandas and numpy
   * 2) Open the files "dickens_locations.csv" and "dickens_number_words.csv" that are inside the folder "join" using pd.read_csv("file_name.csv"). Save that into two different variables.
   * 3) Use merge and combine both dataframes by the common column "Titles". Save that into a new variable.

In [2]:
# Your code in here

In [1]:
# Solution 1
import pandas as pd
import numpy as np

In [4]:
#Solution 2
data_1 = pd.read_csv("join/dickens_locations.csv", index_col = 0)
data_2 = pd.read_csv("join/dickens_number_words.csv", index_col = 0)

In [9]:
# Solution 3
data_3 = pd.merge(data_1, data_2, on = "Titles", how = "inner")
data_3

                  Titles  Number of Locations  Total Words  Unique Words
0      A Christmas Carol                    7        15930          4351
1   A Tale of Two Cities                   59        63521          9953
2          Barnaby Rudge                   72       120438         13385
3            Bleak House                  122       164357         17541
4      David Copperfield                  113       161303         14773
5         Dombey and Son                   98       171291         17656
6     Great Expectations                   75        82842         11722
7             Hard Times                   34        48715          9395
8          Little Dorrit                  127       157570         15651
9      Martin Chuzzlewit                   88       160157         16188
10     Nicholas Nickleby                   93       158363         15330
11          Oliver Twist                   53        76804         11137
12     Our Mutual Friend                  121       154104         17112
13    The Battle of Life                    8        16726          4159
14            The Chimes                    5        14637          4320
15       The Haunted Man                   11        15688          4459
16   The Pickwick Papers                  101       155711         16015

# 2. Reading Dataframes

Now, let's save your new dataframe into a csv file that we will store into our laptop. 
   * Use the pd.to_csv("filename.csv") function.
   * Inside, write a relative path that will send that file to the "Join" folder with your data.

In [26]:
#Your code in here

In [28]:
# Solution
data_3.to_csv("join\combined_files.csv")

# 3. Aggregating and Grouping Data

Now let's do some data analytics on our combined dataframe. 

  * 1. Use the describe() method with your dataframe. Save that into a variable
  * 2. Change the index to a column and select std using iloc. Save that into a new variable. Check its data type.
  * 3. Use np.mean, np.sum, and np.max on the Total Words column
  * 4. Use the function aggregate and apply at the same time those same aggregations (mean, sum, max) to that same column (Total Words)
  * 5. Now, write a function that calculates the 70% of x. Apply that to the column "Number of locations"

In [10]:
#Your code in here

In [12]:
#Solution 1
data_4 = data_3.describe()
data_4

       Number of Locations    Total Words  Unique Words
count            17.000000      17.000000     17.000000
mean             69.823529  102244.529412  11949.823529
std              43.484531   62687.579543   5025.588488
min               5.000000   14637.000000   4159.000000
25%              34.000000   48715.000000   9395.000000
50%              75.000000  120438.000000  13385.000000
75%             101.000000  158363.000000  16015.000000
max             127.000000  171291.000000  17656.000000

In [15]:
# Solution 2
data_5 = data_4.reset_index()
data_5

   index  Number of Locations    Total Words  Unique Words
0  count            17.000000      17.000000     17.000000
1   mean            69.823529  102244.529412  11949.823529
2    std            43.484531   62687.579543   5025.588488
3    min             5.000000   14637.000000   4159.000000
4    25%            34.000000   48715.000000   9395.000000
5    50%            75.000000  120438.000000  13385.000000
6    75%           101.000000  158363.000000  16015.000000
7    max           127.000000  171291.000000  17656.000000

In [17]:
data_6 = data_5.iloc[2:3]
data_6

  index  Number of Locations   Total Words  Unique Words
2   std            43.484531  62687.579543   5025.588488

In [18]:
type(data_6)

pandas.core.frame.DataFrame

In [21]:
#Solution 3

In [22]:
np.mean(data_5["Total Words"])

84799.13861940018

In [19]:
np.sum(data_5["Total Words"])

678393.1089552015

In [20]:
np.max(data_5["Total Words"])

171291.0

In [23]:
# Solution 4
data_5["Total Words"].agg(["mean", "sum", "max"])

mean     84799.138619
sum     678393.108955
max     171291.000000
Name: Total Words, dtype: float64

In [24]:
# Solution 5

def function_percentage(x):
    result = (x * 0.7)
    return result

In [25]:
data_5["Number of Locations"].apply(function_percentage)

0    11.900000
1    48.876471
2    30.439172
3     3.500000
4    23.800000
5    52.500000
6    70.700000
7    88.900000
Name: Number of Locations, dtype: float64