# 1. Creating Pandas Series and Data Frames

Let's practice everything that we have learnt together so far by creating some pandas series and dataframes! This information that you have in here corresponds to the number of locations (i.e. physical places, like London or Paris, also called GPE (Geo-Political Entities) in NER (Name Entity Recognition) found in a selection of novels written by Charles Dickens. 

   * A Christmas Carol, 7.
   * A Tale of Two Cities, 59.
   * Barnaby Rudge, 72.
   * Bleack House, 122.
   * David Copperfield, 113.
   * Dombey and Son, 98.
   * Great Expectations, 75.
   * Hard Times, 34.

### 1.1. Creating Pandas Series

Now please:
  * 1) Import the pandas library.
  * 2) Create two pandas series and store them in two different variables: one for novel titles, and another one containing the total number of GPE (Geo Political Entities) found at those novels.
  * 3) Check the data type of both variables and its length.
  * 4) Check the index of one of the variables using the .index method

In [10]:
# Your code in here

In [4]:
# Solution 1
import pandas as pd

In [15]:
# Solution 2
titles = pd.Series(["A Christmas Carol", "A Tale of Two Cities", "Barnaby Rudge", "Bleack House", "David Copperfield", 
                   "Dombey and Son", "Great Expectations", "Hard Times"])

locations = pd.Series([7, 59, 72, 122, 113, 98, 75, 34])

In [8]:
# Solution 3
print(type(titles))
print(len(titles))

<class 'pandas.core.series.Series'>
8

In [18]:
print(type(locations))
print(len(locations))

<class 'pandas.core.series.Series'>
8

In [17]:
# Solution 4
titles.index

RangeIndex(start=0, stop=8, step=1)

### 1.2. Creating Pands Dataframes

Let's use those two pandas Series that you have just created and let's put together a Dataframe. Please:

   * 1) Create a pandas dataframe firs only using the columns title. Use this code template: variable_name = pd.DataFrame(pandas_series, columns = ["Name of Column"]).
   * 2) Now add the locations column. 
   * 3) Let's try now creating a Data Frame using a dictionary where the name of the columns are the keys and the content of the columns are the variables that you have created (titles, locations) with the locations.

In [14]:
# Solution 1
df = pd.DataFrame(titles, columns = ["Titles"])
df

                 Titles
0     A Christmas Carol
1  A Tale of Two Cities
2         Barnaby Rudge
3          Bleack House
4     David Copperfield
5        Dombey and Son
6    Great Expectations
7            Hard Times

In [19]:
# Solution 2

df["Locations"] = locations
df

                 Titles  Locations
0     A Christmas Carol          7
1  A Tale of Two Cities         59
2         Barnaby Rudge         72
3          Bleack House        122
4     David Copperfield        113
5        Dombey and Son         98
6    Great Expectations         75
7            Hard Times         34

In [21]:
# Solution 3
df_2 = pd.DataFrame({
    "Titles" : titles,
    "Locations" : locations
})

df_2

                 Titles  Locations
0     A Christmas Carol          7
1  A Tale of Two Cities         59
2         Barnaby Rudge         72
3          Bleack House        122
4     David Copperfield        113
5        Dombey and Son         98
6    Great Expectations         75
7            Hard Times         34

# 2. Slicing Pandas Series and Pandas Dataframes

A new dataset that contains all the cities mentioned in all the novels written by Charles Dickens, and also the Latitude and Longitude has been created for you. Just run the following line of code:

In [24]:
data = pd.read_csv("dickens_coordinates.csv", index_col = 0)
data

         Location   Latitude   Longitude               Titles
0          Bedlam  54.048993   -1.592586    A Christmas Carol
1     Camden Town  51.539253   -0.142757    A Christmas Carol
2          London  51.507446   -0.127765    A Christmas Carol
3           Sheba  31.245744   34.792518    A Christmas Carol
4        Damascus  39.288438  -77.203872    A Christmas Carol
...           ...        ...         ...                  ...
1222      America  39.783730 -100.445882  The Pickwick Papers
1223       Wulter        NaN         NaN  The Pickwick Papers
1224      Dulwich  51.441879   -0.084324  The Pickwick Papers
1225     Richmond  37.538509  -77.434280  The Pickwick Papers
1226       Bengal  39.473504  -85.922900  The Pickwick Papers

[1227 rows x 4 columns]

### 2.1. Slicing Pandas Series

Now: 
   * 1. Please select the "Location" column using the name of the column. Store that into a new variable.
   * 2. Print the type of data and its length
   * 3. Select the first element in the variable
   * 4. Select elements 35-50 in the variable and store them in a different variable (so, new_variable = variable[34:87]
   * Multiple choice question for you:
       * a) Do you think that you have selected values 35-50?
       * b) Do you think that you have selected the real values 35-50? (taking into account the python 0 notation) or 34-49?(taking into account the python 0 notation and the weird end-of-list-minus-one thingy).
       * c) If your goal is to select real values 35-50: what do you have to write down? 
   * 5. Use the index method to check the index of your new variable (the one you created in point 4). Does it have a new index or it keeps the one that the first variable was created?
   * 6. Write a for loop where you add the text "Dickens" to all elements in the new variable (remember to have a blank space before you write Dickens!). Is this list or dictionary behaviour?
   * 7. Use the dictionary .keys method on your new variable. Is this list or dictionary behaviour?
   * 8. Try using the [-1] notation to select the last element in the pandas series. What happens?
   * 9. Convert your new variable into a list and now select the last element in that list.

In [25]:
# Your code in here

In [26]:
# Solution 1

location = data["Location"]
location

0            Bedlam
1       Camden Town
2            London
3             Sheba
4          Damascus
           ...
1222        America
1223         Wulter
1224        Dulwich
1225       Richmond
1226         Bengal
Name: Location, Length: 1227, dtype: object

In [27]:
# Solution 2
print(type(location))
print(len(location))

<class 'pandas.core.series.Series'>
1227

In [28]:
# Solution 3
location[0]

'Bedlam'

In [38]:
location.index[35:50]

Index([35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], dtype='int64')

In [39]:
# Solution 4
new_location = location[35:50]
new_location

35         Sydney
36     Shrewsbury
37    Clerkenwell
38           Soho
39     Notre Dame
40    Monseigneur
41          Babel
42      Cambridge
43           Eden
44         Hilary
45       Ranelagh
46        Stryver
47    Tellsonâ€™s
48     Devonshire
49     Versailles
Name: Location, dtype: object

In [35]:
# Solution 5
new_location.index

Index([34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
       70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86],
      dtype='int64')

In [40]:
# Solution 6
for i in new_location:
    print(i + " Dickens")

Sydney Dickens
Shrewsbury Dickens
Clerkenwell Dickens
Soho Dickens
Notre Dame Dickens
Monseigneur Dickens
Babel Dickens
Cambridge Dickens
Eden Dickens
Hilary Dickens
Ranelagh Dickens
Stryver Dickens
Tellsonâ€™s Dickens
Devonshire Dickens
Versailles Dickens

In [41]:
# Solution 7
new_location.keys()

Index([35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49], dtype='int64')

In [42]:
# Solution 8
new_location[-1]

KeyError: -1

In [43]:
# Solution 9
new_location_list = new_location.to_list()
new_location_list[-1]

'Versailles'

### 2. Slicing Pandas Dataframes.

Let's print again our dataframe (for visualization purposes)

In [44]:
data

         Location   Latitude   Longitude               Titles
0          Bedlam  54.048993   -1.592586    A Christmas Carol
1     Camden Town  51.539253   -0.142757    A Christmas Carol
2          London  51.507446   -0.127765    A Christmas Carol
3           Sheba  31.245744   34.792518    A Christmas Carol
4        Damascus  39.288438  -77.203872    A Christmas Carol
...           ...        ...         ...                  ...
1222      America  39.783730 -100.445882  The Pickwick Papers
1223       Wulter        NaN         NaN  The Pickwick Papers
1224      Dulwich  51.441879   -0.084324  The Pickwick Papers
1225     Richmond  37.538509  -77.434280  The Pickwick Papers
1226       Bengal  39.473504  -85.922900  The Pickwick Papers

[1227 rows x 4 columns]

And now let's do some Loc-Iloc and column slicing/selection stretching:
   * 1. Select the "Location" column just using the title of that column. Save it into a new variable. Check the data type.
   * 2. Using iloc (remember, "integer location"), create 4 new variables where you select:
       * The first column.
       * The first row
       * Rows 35-50 in the first two columns (Location and Latitude). (CAREFUL with the python 0 notation and the weird last element in the list thingy)
   * 3. Let's change the game and let's use Loc. Select rows 0-10 in column "Latitude". Save that into a variable.
   * 4. And now using loc select rows 0:20 in columns "Latitude" and "Longitude". Save that into a variable.
   * 5. Select the whole "Titles Column" (in any way you want). Check its data type. Use the pandas method .to_list() and transform it into a list.

In [45]:
# Your code in here

In [49]:
# Solution 1. 
slicing = data["Location"]
print(type(slicing))

<class 'pandas.core.series.Series'>

In [50]:
# Solution 2
first_column = data.iloc[:, 0]
first_column

0            Bedlam
1       Camden Town
2            London
3             Sheba
4          Damascus
           ...
1222        America
1223         Wulter
1224        Dulwich
1225       Richmond
1226         Bengal
Name: Location, Length: 1227, dtype: object

In [51]:
first_row = data.iloc[0, :]
first_row

Location                Bedlam
Latitude             54.048993
Longitude            -1.592586
Titles       A Christmas Carol
Name: 0, dtype: object

In [57]:
rows_35_50 = data.iloc[34:50, 0:2]
rows_35_50

       Location   Latitude
34      Ludgate  45.894046
35       Sydney -33.869844
36   Shrewsbury  52.707755
37  Clerkenwell  51.523727
38         Soho  51.514065
39   Notre Dame  41.704568
40  Monseigneur  43.786467
41        Babel  -2.705289
42    Cambridge  52.205531
43         Eden  36.488472
44       Hilary   6.424432
45     Ranelagh  48.855576
46      Stryver  39.102864
47  Tellsonâ€™s        NaN
48   Devonshire  50.724140
49   Versailles  48.803540

In [58]:
# Solution 4. 
rows_0_10 = data.loc[0:10, "Latitude"]
rows_0_10

0     54.048993
1     51.539253
2     51.507446
3     31.245744
4     39.288438
5           NaN
6     37.340323
7     52.531021
8     46.603354
9     51.507446
10    51.500444
Name: Latitude, dtype: float64

In [61]:
# Solution 5
rows_10_20 = data.loc[10:20, ["Latitude", "Longitude"]]
rows_10_20

     Latitude   Longitude
10  51.500444   -0.126540
11  39.783730 -100.445882
12  61.152939    8.787665
13  48.853495    2.348391
14  53.189006   -2.888190
15  51.470342    0.005810
16  51.125127    1.313423
17  48.989258    6.084905
18  50.952477    1.853845
19  43.207178  -71.537476
20 -23.338695  149.306480

In [62]:
# Solution 5
titles = data["Titles"]

In [63]:
type(titles)

pandas.core.series.Series

In [64]:
list_titles = titles.to_list()
list_titles

['A Christmas Carol',
 'A Christmas Carol',
 'A Christmas Carol',
 'A Christmas Carol',
 'A Christmas Carol',
 'A Christmas Carol',
 'A Christmas Carol',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'A Tale of Two Cities',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Barnaby Rudge',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'Bleak House',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'David Copperfield',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Dombey and Son',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Great Expectations',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Hard Times',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Little Dorrit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Martin Chuzzlewit',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Nicholas Nickleby',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Old Curiosity',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Oliver Twist',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 'Our Mutual Friend',
 ...]

In [65]:
type(list_titles)

list