# 1. Reading and Writing Files

Let's start this notebook by doing something very simple: opening a csv dataframe into our laptop! Firs things first: please import both Pandas and Numpy libraries.

In [1]:
#Your code in here

In [2]:
#Solution

import pandas as pd
import numpy as np

Now:
   * Please use the pandas function pd.read_csv("filename.csv") and open the file "Gaskell_number_words.csv" that you can find in this directory. 
   * Play around with the argument index_col = 0 inside the function pd.read_csv(). Check what happens if you include it and if you don´t include it.
   * Remember to save all that into a variable! Print it afterwards.

In [6]:
#Your code in here

In [7]:
#Solution
data = pd.read_csv("Gaskell_number_words.csv", index_col = 0)
data

                Titles  Total Words  Unique Words
0  A Dark Night's Work        33494          6266
1             Cranford        33281          7021
2          Mary Barton        84552         10425
3       My Lady Ludlow        35421          6978
4      North and South        84889         11676
5                 Ruth        81049          9835
6      Sylvia's Lovers        96870         11900
7  Wives and Daughters       139209         12037

# 2. Bash

Ok, now that we know how to open a file, lets learn how to move it around:
   * 1. Use the pwd bash command to find your path (that is, where that file is located within your own computer). Careful: you can't use #markup notation with bash. So make sure the only thing you write in your cell is pwd (no comments added).
   * 2. Use the ls command to check all the files in your directory.
   * 3. Inside that directory, create a new folder called "data_1" using mkdir.
   * 4. Use the ls command again and check whether that folder is there
   * 5. Go to your laptop and manually copy-paste the file "Gaskell_number_words.csv" file into the new directory data_1 that you have just created (doing that with Bash is a little bit complicated!).
   * 6. Now, use cd data_1 to go to that directory and ls to see the inside.
   * 7. Use pwd to have the path of where the data is located
   * 8. Now use cd .. to go back to "Day 3"
   * 9. And now use the pandas function to read csv files but write inside the **absolute path** of the directory where the folder is located and the name of the file.  
   * 10. Your current location is Day 3. Write a **relative path** that includes data_1 and Gaskell_number_words.csv inside pd.read_csv("path")

In [8]:
#Your code in here

In [11]:
#Solution 1.

In [10]:
pwd

'C:\\Users\\usuario\\ELENA\\it-training uzh\\it-training uzh\\Python Data Analytics Essentials YO PREPARACION\\Day 3'

In [12]:
#Solution 2

In [13]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 6E4A-738F

 Directorio de C:\Users\usuario\ELENA\it-training uzh\it-training uzh\Python Data Analytics Essentials YO PREPARACION\Day 3

02/12/2025  19:42    <DIR>          .
29/11/2025  17:48    <DIR>          ..
02/12/2025  19:35    <DIR>          .ipynb_checkpoints
30/11/2025  18:11               469 Charles_Dickens_books_nan.csv
30/11/2025  21:24    <DIR>          data
29/11/2025  21:27            79.173 Day 3 Activity 1. Creating and Slicing Pandas Series and Data Frames.ipynb
02/12/2025  19:42             5.840 Day 3. Activity 2. Reading and Writing Files, Bash, Aggregating and Grouping Data in Pandas.ipynb
02/12/2025  12:19               351 dickens_books_clean_NaN.csv
16/11/2025  18:02            62.113 dickens_coordinates.csv
15/11/2025  17:30               454 dickens_locations.csv
13/11/2025  16:33               264 Gaskell_number_words.csv
30/11/2025  20:48    <DIR>          test folder
02/12/2025  19:34            89.564 Untitled.ipynb
               8 archivos        238.228 bytes
               5 dirs  43.121.045.504 bytes libres

In [14]:
#Solution 3

In [15]:
mkdir "data_1"

In [16]:
#Solution 4

In [17]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 6E4A-738F

 Directorio de C:\Users\usuario\ELENA\it-training uzh\it-training uzh\Python Data Analytics Essentials YO PREPARACION\Day 3

02/12/2025  19:45    <DIR>          .
29/11/2025  17:48    <DIR>          ..
02/12/2025  19:35    <DIR>          .ipynb_checkpoints
30/11/2025  18:11               469 Charles_Dickens_books_nan.csv
30/11/2025  21:24    <DIR>          data
02/12/2025  19:45    <DIR>          data_1
29/11/2025  21:27            79.173 Day 3 Activity 1. Creating and Slicing Pandas Series and Data Frames.ipynb
02/12/2025  19:44             8.429 Day 3. Activity 2. Reading and Writing Files, Bash, Aggregating and Grouping Data in Pandas.ipynb
02/12/2025  12:19               351 dickens_books_clean_NaN.csv
16/11/2025  18:02            62.113 dickens_coordinates.csv
15/11/2025  17:30               454 dickens_locations.csv
13/11/2025  16:33               264 Gaskell_number_words.csv
30/11/2025  20:48    <DIR>          test folder
02/12/2025  19:34            89.564 Untitled.ipynb
               8 archivos        240.817 bytes
               6 dirs  43.119.906.816 bytes libres

In [18]:
#Solution 6

In [28]:
cd data_1

C:\Users\usuario\ELENA\it-training uzh\it-training uzh\Python Data Analytics Essentials YO PREPARACION\Day 3\data_1

In [29]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El número de serie del volumen es: 6E4A-738F

 Directorio de C:\Users\usuario\ELENA\it-training uzh\it-training uzh\Python Data Analytics Essentials YO PREPARACION\Day 3\data_1

02/12/2025  19:51    <DIR>          .
02/12/2025  19:54    <DIR>          ..
13/11/2025  16:33               264 Gaskell_number_words.csv
               1 archivos            264 bytes
               2 dirs  43.118.026.752 bytes libres

In [30]:
# Solution 7

In [31]:
pwd

'C:\\Users\\usuario\\ELENA\\it-training uzh\\it-training uzh\\Python Data Analytics Essentials YO PREPARACION\\Day 3\\data_1'

In [32]:
# Solution 8

In [33]:
cd ..

C:\Users\usuario\ELENA\it-training uzh\it-training uzh\Python Data Analytics Essentials YO PREPARACION\Day 3

In [36]:
# Solution 9
data = pd.read_csv("C:\\Users\\usuario\\ELENA\\it-training uzh\\it-training uzh\\Python Data Analytics Essentials YO PREPARACION\\Day 3\\data_1\\Gaskell_number_words.csv", index_col = 0)
data

                Titles  Total Words  Unique Words
0  A Dark Night's Work        33494          6266
1             Cranford        33281          7021
2          Mary Barton        84552         10425
3       My Lady Ludlow        35421          6978
4      North and South        84889         11676
5                 Ruth        81049          9835
6      Sylvia's Lovers        96870         11900
7  Wives and Daughters       139209         12037

In [40]:
data_1 = pd.read_csv("data_1/Gaskell_number_words.csv", index_col = 0)
data_1

                Titles  Total Words  Unique Words
0  A Dark Night's Work        33494          6266
1             Cranford        33281          7021
2          Mary Barton        84552         10425
3       My Lady Ludlow        35421          6978
4      North and South        84889         11676
5                 Ruth        81049          9835
6      Sylvia's Lovers        96870         11900
7  Wives and Daughters       139209         12037