# 1. Variable Assignment and Data Types

Let's play around with everything that we have learnt so far! Let's start our data analytics journey by creating some variables using Digital Humanities data.

First, please create four variables that contain the name of our four authors (Charles Dickens, Elizabeth Gaskell, Mark Twain, Edith Wharton) using **strings**. Then print all of them.

In [37]:
# Your code in here

In [38]:
# Solution
charles_dickens = "Charles Dickens"
elizabeth_gaskell = "Elizabeth Gaskell"
mark_twain = "Mark Twain"
edith_wharton = "Edith Wharton"

In [39]:
print(charles_dickens)
print(elizabeth_gaskell)
print(mark_twain)
print(edith_wharton)

Charles Dickens
Elizabeth Gaskell
Mark Twain
Edith Wharton

Pick one variable and check the data type and length

In [40]:
# Your code in here

In [41]:
# Solution
type(charles_dickens)

str

In [42]:
len(charles_dickens)

15

Now, please create four variables that contain the **birth dates** of our authors using **integers**. Those are:

    * Charles Dickens: 1812
    * Elizabeth Gaskell: 1810
    * Mark Twain: 1835
    * Edith Wharton: 1862

In [43]:
# Your code here

In [44]:
# Solution
dickens_date = 1862
gaskell_date = 1810
twain_date = 1835
wharton_date = 1862

Now check the data type and:

    * a) convert two of them to **floats** and store that conversion into a new variable. Print it.
    * b) convert the other two of them to **strings** and store that conversion into a new variable. Print it.
    * c) check their data types again

In [45]:
#Your code in here

In [49]:
# Solution
dickens_float = float(dickens_date)
print(dickens_float)

gaskell_float = float(dickens_date)
print(gaskell_float)

twain_string = str(dickens_date)
print(twain_string)

wharton_string = str(dickens_date)
print(wharton_string)

1862.0
1862.0
1862
1862

In [50]:
print(type(dickens_float))
print(type(gaskell_float))
print(type(twain_string))
print(type(wharton_string))

<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>

And now:

    * covert your "dickens float" variable into a string and store that conversion into a new variable. Print it.
    * Convert your "twain string" variable into float and store that conversion into a new variable. Print it.
    * Try to convert your previous name variable "charles dickens" (a string) both into an integer and a float. What happens?

In [51]:
# your code in here

In [53]:
# Solution

dickens_string = str(dickens_float)
print(dickens_string)

twain_float = float(twain_string)
print(twain_float)

1862.0
1862.0

In [54]:
int(charles_dikens)

NameError: name 'charles_dikens' is not defined

In [55]:
float(charles_dickens)

ValueError: could not convert string to float: 'Charles Dickens'

Try to run this variable down here. What is wrong? Why do you get an error message? Correct it into a correct python syntax form.

In [56]:
Charles Dickens = "UK Citizen"

SyntaxError: invalid syntax (2048166980.py, line 1)

In [57]:
Charles_Dickens = "UK Citizen"