# Numpy Universal Functions.

Let's practice everything that we have learnt today about Numpy Universal Functions using some Digital Humanities metadata. Let's try to find out which authors were more productive and if there is any correlation between the gender of authors and book productivity writing.

First, let's import the libraries. Import both Pandas and Numpy.

In [1]:
# Your code in here

Four datasets containing the total number of novels written by of all the authors has been imported for you. Just run the code.

In [7]:
dickens = pd.read_csv("Charles_Dickens_books.csv", index_col = 0)
gaskell = pd.read_csv("Elizabeht_Gaskell_books.csv", index_col = 0)
wharton = pd.read_csv("Edith_Wharton_books.csv", index_col = 0)
twain = pd.read_csv("Mark_Twain_books.csv", index_col = 0)

Let's have a look at one of them to inspect how things look like

In [8]:
dickens

                       Titles  Year
0           A Christmas Carol  1843
1        A Tale of Two Cities  1859
2               Barnaby Rudge  1841
3                 Bleak House  1853
4           David Copperfield  1850
5              Dombey and Son  1848
6          Great Expectations  1861
7                  Hard Times  1854
8               Little Dorrit  1857
9           Martin Chuzzlewit  1844
10          Nicholas Nickleby  1839
11         Old curiosity shop  1841
12               Oliver Twist  1839
13          Our Mutual Friend  1865
14         The Battle of Life  1846
15                 The Chimes  1844
16  The Cricket on the Hearth  1845
17            The Haunted Man  1848
18        The Pickwick Papers  1837

4 python lists have been created for you containing the titles.

In [9]:
dickens_books = dickens["Titles"].to_list()
gaskell_books = gaskell["Titles"].to_list()
wharton_books = wharton["Titles"]. to_list()
twain_books = twain["Titles"].to_list()

Let's inspect one of them

In [10]:
dickens_books

['A Christmas Carol',
 'A Tale of Two Cities',
 'Barnaby Rudge',
 'Bleak House',
 'David Copperfield',
 'Dombey and Son',
 'Great Expectations',
 'Hard Times',
 'Little Dorrit',
 'Martin Chuzzlewit',
 'Nicholas Nickleby',
 'Old curiosity shop',
 'Oliver Twist',
 'Our Mutual Friend',
 'The Battle of Life',
 'The Chimes',
 'The Cricket on the Hearth',
 'The Haunted Man',
 'The Pickwick Papers']

# Universal Functions applied to looping

Now, let's practice how universal functions can be a great substitute for looping. Please do: 

   * a) Create four new variables for each author using len() to check how many books per author we have.
   * b) Create two numpy arrays: one called "male authors" that contains the number of books written by dickens and twain (so an array with two elements) and a "female authors" one that contains the number of books written by gaskell and wharton.
   * c) Let's briefly introduced aggregators. Let's use np.sum() to calculate the total number of books (male and female). Which one has written more books in total?

In [11]:
# Your code in here

And now that we have put together our arrays, let's practice together how to write some aggregations:
   * a) Create a python list that substracts the first element of the male authors list with the first element of the female authors list. Then repeat the same procedure with np.substract
   * b) Now, store in a variable the result of multiplying each female individual total production by 2. Use a python list to do that, and then repeat the procedure using a numpy array.

In [48]:
# Your code in here

You can repeat these activities changing the variables to country of origin instead of gender to observe productivity patterns in the US vs. the UK. You can also practice how other universal functions (multiply, floor divide //, power...) work!